  <div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">
        <br>
        <h1>2015 - 2016</h1>
        <br>
        <h1> 2014 - 2015</h1>
        
        <h3> SAE Aero Design East: Micro</h3>
         <p>After establishing Aero McGill in September 2014, students began work on their design for the SAE Aero Design East: Micro Class Competition.
         After months of hard work, five members of the team traveled to Lakeland, FL to compete in our first ever competition. As the first team to ever compete from McGill University, the members proudly presented their work to judges from Lockheed Martin during the oral presentation.
         They passed technical inspection on the first try, and proceeded to compete in the following flight days. After everything was over, the team placed 16 out of 21 in the Micro Class - ahead of many teams with many more years of experience!
         
         Great work guys!
                   <br>
          <br>
          <br>
          <br>

           </p>
      </div>
    </div>
  </div>
