  <div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">
       <img src="img/comp_plane.png">
        <h1>SAE Aero Design Series</h1>
         <p>
          A competition organized by the Society of Automotive Engineers, the SAE Aero Design Series is one of the largest Aeronautical design competitions in North America. The goal of the competition is to design, build, and successfully fly a model aircraft. Depending on the class of the competition, there are a number of missions the aircraft must be able to accomplish, while meeting definitive performance requirements. 
          <br>
          <br>
          In 2014-15, we designed the Martlet, a remote-controlled fixed-wing aircraft that competed in the Micro Class in Lakeland, Florida. In 2016, AERO McGill will compete in the Micro Class for the second year in a row. Additionally, we are expanding to compete in the Regular Class for the first time. 
        </p>
      </div>
    </div>
  </div>
