<DIV class="grid_section">
  <div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">
        <h1> Contact </h1>

         <p>  
         	Interested in joining AERO? Have any questions, comments, or suggestions?   Feel free to e-mail one our Co-Founders!  
         	<br>
         	<br>
         	Hussain Boxwala
         	<br>
         	<img src="img/Hussain.png">
         	<br>
         	<br>
         	Jamil Madanat
         	<br>
            <img src="img/Jamil.png">       
           </p>
      </div>
    </div>
  </div>
</DIV>
