<DIV class="grid_section">
  <div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">
        <br>
        <h1> News </h1>

         <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id volutpat elit. Mauris ultricies tempus ex id porta. Phasellus pharetra felis ac rutrum scelerisque. Pellentesque elementum mauris lacus, et rutrum purus malesuada lacinia. Vivamus viverra porttitor arcu eget ultrices. Ut suscipit elementum elit vel tempus. Maecenas egestas dolor ipsum, vel pellentesque ante posuere at. Suspendisse viverra nibh vel hendrerit maximus. Cras risus lacus, convallis sed ultrices quis, blandit quis mi. Nam ac tincidunt ex.
                   <br>
          <br>
          <br>
          <br>

           </p>
      </div>
    </div>
  </div>
</DIV>
