<DIV class="grid_section">
  <div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">

        <img src="img/sponsors-01.png">

        <h1> Sponsors </h1>

         <p>  
        As a non-profit student-run organization, we value the support of our sponsors. By associating with AERO McGill, you are contributing to our goal of developing accomplished professionals in the field of applied sciences. To provide a more comprehensive overview of why you should support us, you can have a look at our sponsorship package. If you would like to receive this, please send an e-mail to our sponsorship lead at. <a href="mailto:rodrigo.cubedo@mail.mcgill.ca" target="_top">rodrigo.cubedo@mail.mcgill.ca</a>
          </p>
      </div>
    </div>
  </div>
</DIV>
