<div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">

          <img src="img/team.png">

        <h1> Team </h1>

         <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id volutpat elit. Mauris ultricies tempus ex id porta. Phasellus pharetra felis ac rutrum scelerisque. Pellentesque elementum mauris lacus, et rutrum purus malesuada lacinia. Vivamus viverra porttitor arcu eget ultrices. Ut suscipit elementum elit vel tempus. Maecenas egestas dolor ipsum, vel pellentesque ante posuere at. Suspendisse viverra nibh vel hendrerit maximus. Cras risus lacus, convallis sed ultrices quis, blandit quis mi. Nam ac tincidunt ex.
          <br>
          <br>
          Fusce luctus lacinia felis sit amet egestas. Donec tempus augue nibh, porttitor vehicula ipsum rutrum ut. Duis ullamcorper lobortis orci, ut tristique dolor iaculis sit amet. Etiam vulputate varius turpis, sed suscipit nibh vestibulum id. Donec pretium nibh ut ipsum viverra gravida. Ut convallis, dolor ut semper malesuada, risus lectus molestie diam, consectetur mattis enim erat eu diam. Nunc fringilla accumsan aliquam. Curabitur aliquet tortor mollis, dapibus sem vel, bibendum est. Curabitur est nulla, malesuada a fermentum ut, ullamcorper a urna. Pellentesque non dolor hendrerit, maximus leo sit amet, malesuada risus.
          <br>
          <br>
          Nulla hendrerit malesuada tincidunt. Sed libero dolor, iaculis et risus ut, tincidunt facilisis nisi. In malesuada urna posuere nunc congue accumsan. Morbi tincidunt risus vitae tellus blandit, congue imperdiet sem ornare. Fusce bibendum ligula ut quam rhoncus, sed consectetur lacus sollicitudin. Fusce sagittis, eros sed egestas pharetra, risus lacus consectetur urna, sit amet fermentum sem est sed sem. Cras luctus eleifend diam eu accumsan. Donec eu efficitur lorem, ac vulputate nibh. Nam consectetur pellentesque massa eget dictum. Phasellus vehicula tincidunt lacus vel finibus. Sed auctor diam vitae porta dignissim. In metus turpis, maximus ut sapien et, commodo venenatis libero. Nullam ornare tempor odio sed ultrices. Sed vehicula ligula eros, vitae sagittis velit porttitor a.
          <br>
          <br>
          <br>
          <br>
           </p>
      </div>
    </div>
  </div>
