<div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">

          <img src="img/team.png">

        <h1> Team </h1>
        <p>
        Founded in 2014, AERO McGill is comprised of 15 students from various disciplines of Engineering, in addition to students from the Arts, Science, and Management faculties at the Undergraduate, Graduate, and the PhD level. Our engineers were from the Mechanical, Materials, and Electrical disciplines. For the 2015-16 academic year, AERO McGill will expand be comprised of sub-teams that will participate in the different competitions. 
        </p>
        <img src="img/banner.gif">
         <p> 
        On the technical side, our team is structured to accommodate specialists in Design, Performance & Controls, and Flight Testing. We endorse a multi-disciplinary work ethic that is founded upon flexibility. To integrate new members, we regularly host training sessions and workshops for skills such as laser cutting, and hot-wire cutting, as well as offering comprehensive resources for aircraft design. 
        </p>
        <p>
        We nurture a working environment that fosters academic growth, as well as long-lasting relationships between students, industry advisors, and professors. 
         </p>
      </div>
    </div>
  </div>
