<div class="row">
    <div class="small-12 large-centered columns">
      <div class="panel">

          <img src="img/team.png">

        <h1> Team </h1>

         <p> At Aero, we intend to provide our members, whether graduate or undergraduate students, with a real-life engineering challenge. The aim is to foster intellectual and interpersonal skills. Members will devote their time designing, building and testing aircrafts of different kinds and dimensions.
          <br>
          <br>
          Our team currently consists of twenty-four engineering students from different engineering disciplines; mechanical, electrical, materials, and software. And we are currently in the recruitment process for the year 2015-2016.
          <br>
          <br>
          If you are interested to be part of the team please submit your application using the following link (http://goo.gl/forms/zSck2EPgf1) 
         </p>
      </div>
    </div>
  </div>
